h2 {
    color: #555;
}

.header_top {
    padding: 8px 12px;
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: #f8f9fa;
}

.resort_name {
    font-family: "Baskerville Old Face";
    color: #3d90e3;
    font-size: 62px;
}
.name {
    width: 60px;
}

.logo_img {
    width: 70px;
    max-width: 70px;
    padding: 0;
    margin: 0;
}

#body_bg {
    background-color: red;
    background-image: linear-gradient(to bottom , #f8f9fa,  #3d90e3 );
}

.body_bg {
    background-color: red;
    background-image: linear-gradient( #f8f9fa,  #3d90e3 );
}

.nav_item {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    height: 30px;
}

.nav_padding{
    padding: 0 4rem;
    display: flex;
    justify-content: space-around;
}

.display-none {
    display: none;
}
.display-block {
    display: block;
}

.form_input {
    padding: 16px 0;
}
